body,html{  
    margin:0;  
    padding:0;  
    height:100%;  
}  

th{
	text-align: center;
}

#page_footer{
    /*position: absolute;
    bottom: 0;
    width: 100%;*/
}

#header{
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

#navigation{
    background-color:  #666666;
}
.navbar a {
    color: white;
}

.osu-grey {background-color: #666666;}

.osu-red {background-color:#bb0000;}

.delete {
	background-color:#CC0000;
	color:#FFF;
}

.delete:hover {
	background-color:#BB0000;
	color:#FFF;
}

.options {
	color:#AAA;
}

.options:hover {
	color:#00F;
}

td.inTable{
    padding: 0px;
}
    
.table{
    margin-bottom: 0px;
}

#footer-wrap{
    min-height: 50px;
    background-color: #666666; 
    color: #FFF;
}

#footer{
    margin: auto;
    max-width: 100%;
    min-height:inherit;
    padding: 10px;
}

#footer_left{
    float: left;
    text-align: left;
}

#footer_right{
	float: right;
    padding-right: 15px;
}

#content{
    margin: auto;
    min-height: 500px;
}

#main{
    text-align: center;
    margin: auto;
    padding-top: 20px;
}

#schedule_footer{
    position: fixed;
    bottom: 35px;
    z-index: 5;
    background-color: white;
}

div#preferences {
    border: 1px solid;
    margin-right: 0px;
    margin-left: 0px;
}

div#preferences div.preferences {
    background-color: #F0F0F0;
    border: 1px solid;
    /*padding: 10px;*/
}

.btn-group-vertical > button{
    margin-top:0.25rem;
    margin-bottom:0.25rem;
    border-radius:0.25rem !important;
}

#sched_table_container {
    overflow: auto;
    padding: 0px;
    min-height: 400px;
    border: 1px solid;
}


